:root{
    --bordecolo: #0a3b56;
    --notselecionado: #010e1a;
    --bgcolor: #011627;
    --statuscolor: #00a6ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    background-color: #011627;
    color: white;
}
.menuNavbar{
    display: flex;
    height: 5vh;
}
.esquerda{
    width: 100vw;
    align-items: center;
    justify-content: start;
}
.btnNav{
    text-decoration: none;
}
.direita{
    display: flex;
    width: 65.3vw;
    align-items: center;
    justify-content: end;
}
.btnFechar{
    display: flex;
    font-weight: bold;
}
.X{
    justify-content: end;
    text-decoration: none;
    background-color: red;
    padding: 3px 5px;
    
}
.M{
    margin-left: 30px;

    text-decoration: none;
    padding: 5px;
}
._{
    margin-left: 30px;

    text-decoration: none;
    padding: 5px;
}


.vscode{
    display: flex;
    border-top: var(--statuscolor) solid 1px;
}
.barraLateral{
    display: flex;
}
.menu{
    width: 4vw;
    height: 90.8vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #011627;
    border-right: var(--bordecolo) solid 2px;
    
}
.leftMenuIten{
    padding: 2vh;
    text-decoration: none;
    text-align: center;
}
.leftMenuIten:hover{
    background-color: var(--bordecolo);
}
.btnInfer{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 3vw;
    bottom: 0px;
    right: 1vw;
}

.inferMenuItem{
    display: flex;
    padding: 2.5vh;
    text-decoration: none;
    text-align: center;
}
.inferMenuItem:hover{
    background-color: var(--bordecolo);
}

.abaLine{
    display: flex;
    width: 95vw;
    align-items: center;
    border-bottom: var(--bordecolo) solid 2px;
}
.abas{
    text-align: center;
    padding: 0.1rem 0.3rem;
    text-decoration: none;
    background-color: var(--notselecionado);
    border-top: var(--statuscolor) solid 1px;
    
}
.codeCamp{
    padding: 0.1rem 2rem;
    font-size: 13px;

}
.statusBar{
    background: var(--statuscolor);
    display: flex;
    width: 100vw;
    height: 4vh;
    align-items: center;
    justify-content: end;
    border-bottom: var(--bordecolo) solid 2px;
}
.inferBtn{
    font-size: 15px;
    margin-right: 1rem;
    text-align: center;
    text-decoration: none;
    background: var(--statuscolor);
}
.abas:hover{
    background-color: var(--bordecolo);
}


/*IMAGEMS*/
.paper{
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 2vw;
}
.lupa{
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 2vw;
}
.play{
    background-color: transparent;
    width: 2vw;
}
.block{
    background-color: transparent;
    width: 2vw;
}
.node{
    background-color: transparent;
    width: 2vw;
}
.persona{
    background-color: transparent;
    width: 2vw;
}
.config{
    background-color: transparent;
    width: 2vw;
}